
.butt{
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
.paper{
  width: 80%;
  height: auto;
  min-height: 800px;
  min-width: 280px;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px 1px;
  background-color: black;
 padding: 10px;

}
.generalview{
  display: flex;
  justify-content: center;
  align-items: center;
}
b.generalview.firstInfo{
  font-size: 0.5rem;
}
.generalview.firstInfo a{
  padding-top: 0px;
  margin-top: 0px;
  color: black;
}
.secondarr h1{
  border-bottom: 2px solid black;
}
.secondarr.line{
  height: 5px;
  border-color: black;
  border-image: none;
  border-style: solid none none;
  border-width: 3px 0 0;
  opacity: 1;
}
.secondarr .__details{
  display: grid;
  grid-template-columns: 1fr 1fr;
}